.paymentForm {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px !important;
  background-color: white;
  box-shadow: rgba(61, 47, 16, 0.649) 5px 10px 10px !important;
 
}

.paymentElement {
  margin-bottom: 20px;
 
}

.submitButton {
  background-color: #8d7a5b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 15px !important;
  cursor: pointer;
}

.submitButtonDisabled {
  background-color: #ccc;
}

.paymentMessage {
  margin-top: 20px;
  color: #8d7a5b;
}