/* Header.css */
.link {
    color: #705B38; 
    padding: 0.25rem 2rem; 
    background-color: #D1CABD; 
    border-radius: 0.5rem; 
    transition: background-color 0.3s, color 0.3s;
  }

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:8px; 
   
}

.rightContainer {
    display: flex;
    align-items: center;
}

.menuContainer {
    position: relative;
    display: inline-block;
}

.cart {
    width: 40px; /* Adjust the size as needed */
    height: 40px; /* Adjust the size as needed */
    cursor: pointer;

}
.menuButton {
    width: 40px; /* Adjust the size as needed */
    height: 40px; /* Adjust the size as needed */
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.sidebar {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #D1CABD;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px;
}

.sidebar a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.sidebar a:hover {
    background-color: #ddd;
}

.menuContainer:hover .sidebar {
    display: block;
}
  
  .link:hover {
    background-color: #8D7A5B; /* hover:bg-yellow-900 */
    color: #ffffff; /* hover:text-white */
  }