* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.bgContainer {
  height: 0;
  width: 0;
  background-color: red;
}
.div_shoppingCart {
  height: 400px;
  width: 50px;
  border-left-width: 1px;
  border-bottom-width: 3px;
  border-color: #7b7b7b;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #ebe3d5;
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 65px;
  right: 0;
  z-index: 1100;
}
.div_shoppingCart:hover {
  background-color: #d1cabd;
}
.btn_shoppingCart {
  height: 100%;
  width: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
}
.img_shoppingCart {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 100px;
  right: 10px;
}
.lbl_shoppingCart {
  height: 30px;
  width: 180px;
  transform: rotate(-90deg);
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-style: normal;
  position: absolute;
  top: 220px;
  right: -60px;
  pointer-events: none;
}
.drawerPaper {
  /* height: fit-content; */
  width: 43%;
  background-color: transparent;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.drawerContent {
  height: 97%;
  width: 97%;
  border-radius: 30px;
  /* background-color: #ede9e3; */
}
