* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.bgContainer {
  height: 0;
  width: 0;
  background-color: red;
}
.div_shoppingCart {
  height: 400px;
  width: 50px;
  border-left-width: 1px;
  border-bottom-width: 3px;
  border-color: #7b7b7b;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #ebe3d5;
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 65px;
  right: 0;
  z-index: 1100;
}
.div_shoppingCart:hover {
  background-color: #d1cabd;
}
.btn_shoppingCart {
  height: 100%;
  width: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
}
.img_shoppingCart {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 100px;
  right: 10px;
}
.lbl_shoppingCart {
  height: 30px;
  width: 180px;
  transform: rotate(-90deg);
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-style: normal;
  position: absolute;
  top: 220px;
  right: -60px;
  pointer-events: none;
}
/* .drawerPaper {
  width: 43%;
  background-color: transparent;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.drawerContent {
  height: 97%;
  width: 97%;
  border-radius: 30px;
} */
.drawerPaper {
  width: 43%;
  /* background-color: #ede9e3; */
  padding: 20px 0 20px 20px;

}
.drawerContent {
  height: inherit;
  width: 100%;
  /* background-color: #ede9e3; */
}
.emptyCart {
  height: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  color: #705b38;
}
.emptyCart img {
  width: 60%; 
  height: auto;
  margin-bottom: 20px;
}
.emptyCart p {
  margin: 10px 0;
}
.emptyCart button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #8D7A5B;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.emptyCart button:hover {
  background-color: #705b38;
}

.notEmptyCart {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.CartList {
  /* height: inherit; */
  width: 100%;
}
/* .controlPanel {
  height: 100%;
  width: 60px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 0;
  background-color: blue;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: sticky;
  top: 20px;
  right: 0;
}
.btnComfirm {
  height: 60px;
  width: 60px;
  background-color: rgb(71, 71, 254);
}
.btn_Clear {
  height: 60px;
  width: 60px;
  background-color: rgb(44, 44, 156);
}
.btn_ToFoodMenu {
  height: 60px;
  width: 60px;
  background-color: rgb(13, 13, 53);
} */