.cartContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 55%;
  min-height: 70vh;
}
.shoppingCard {
  border-radius: 15px;
  background-color: white;
  flex: 1;
  margin-right: 20px;
}
.summaryItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 18px;
}

.orderSummary {
  position: fixed;
  top: 15%;
  right: 5%;
  width: 40%;
  max-height: 500px;
  padding: 20px;
  border-radius: 15px;
  background-color: white;
  box-shadow: rgba(61, 47, 16, 0.429) 5px 5px 5px;
}
.orderSummary h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.summaryButtons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 20px;
}
.summaryItem {
  font-size: 20px;
}
hr {
  margin: 20px 0;
}
.proceedButton {
  color: white;
  background-color: #8d7a5b;
  border-radius: 15px;
  cursor: pointer;
  font-size: 25px;
  padding: 10px;
  margin-bottom: 10px;
}
.proceedButton:hover {
  background-color: #705b38;
}
.continueButton {
  color: #705b38;
  font-size: 0.8em;
  text-decoration: underline;
}
