.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
  }
  
  .rightContainer {
    display: flex;
    align-items: center;
  }
  
  .menuContainer {
    position: relative;
    display: inline-block;
  }
  