*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg_container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div_text {
    font-size: 40px;
}
.regForm {
    height: 550px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: aqua;
}
.regForm>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.regForm>div:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.regForm>div:nth-child(4) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.regForm>div:nth-child(5) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.regForm>div:nth-child(6) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.regForm>div:nth-child(7) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.lbl_title {
    font-size: 15px;
}